<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <footer class="footer text-white pt-5 pb-4 main-color">
        <div class=" container text-center text-md-left">
            <div class="row text-center texr-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> SRC Himat</h5>
                    <p> SRC Himat merupakan toko kelontong dengan konsep modern, menjual berbagai barang dari 
                        mulai sembako, minuman, jajanan, alat mandi, rokok, dll.</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> Product</h5>
                    <p class="text-white" style="text-decoration: none;">Makanan</p>
                    <p class="text-white" style="text-decoration: none;">Minuman</p>
                    <p class="text-white" style="text-decoration: none;">Snack</p>
                    <p class="text-white" style="text-decoration: none;">Kebutuhan Rumah Tangga</p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-auto">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> Contact us</h5>
                    <p>
                        <i class="bi bi-house mr-3"></i> Jl. Ps. Karanggendot, Kroya, Limbangan, Kec. Wanareja, Kabupaten Cilacap, Jawa Tengah 53232
                    </p>
                    <p>
                        <i class="bi bi-envelope mr-3"></i> Faturrokhman@gmail.com
                    </p>
                    <p>
                        <i class="bi bi-telephone mr-3"></i> 085923462716
                </div>
            </div>

            <hr class="mb-4">

            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p> Copyright &copy;2025 All rights reserved by :
                        <a href="#" style="text-decoration: none;">
                            <strong class="text-warning"> TmSeiraa</strong>
                        </a>
                    </p>
                </div>

                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/faturrrokhman_?igsh=OGQ5ZDc2ODk2ZA==" 
                                class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://wa.me/085923462716" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-whatsapp"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.tiktok.com/@bagussetiyaromadoni?_t=ZS-8w7Wc7Boayw&_r=1" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-tiktok"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>